/* default colors */
:root {
  --primary-blue: #1583ea;
  --header-cyan: #29b6f6;
  --text-gray: #666;
  --border-color: #d1d9e0;
  --bg-light: #f8f8fa;
}
/* config */
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  font-size: 1rem;
}
/* background */
.login-page {
  min-height: 100vh;
  background-image: url("https://storage.123fakturera.se/public/wallpapers/sverige43.jpg");
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow-x: hidden;
}
/* desactivate the nav of desktop */
.login-header__nav,
.login-header__logo,
.mobile-dropdown-nav,
.mobile-dropdown-lang {
  display: none;
}

.header-mobile {
  width: 100%;
  display: flex;
  height: 5rem;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
.header-mobile-bottom {
  width: 75%;
  height: 2.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--bg-light);
}
.header-mobile-bottom__left-controls,
.header-mobile-bottom__right-controls {
  display: flex;
  align-items: center;
  position: relative;
}
.mobile-lang-btn {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  gap: 8px;
  background: none;
  border: none;
  cursor: pointer;
  color: var(--bg-light);
  font-size: 1rem;
}
.mobile-lang-btn img {
  width: 26px;
  height: 17px;
  border-radius: 15%;
}

.hamburger {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 30px;
  height: 30px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 3px;
}
.hamburger__line {
  background-color: var(--bg-light);
  display: block;
  width: 100%;
  height: 3px;
  border-radius: 2px;
}

/* phone landscape */
@media (min-width: 480px) {
}

/* tablet */
@media (min-width: 768px) {
  .container {
    display: flex; /* Dejamos de ver todo en una columna */
  }
}

/* desktop */
@media (min-width: 1024px) {
  .container {
    max-width: 1200px;
    margin: 0 auto; /* Centramos el contenido en pantallas grandes */
  }
}

/* big screeen */
@media (min-width: 1440px) {
}
