:root {
  --primary-blue: #1583ea;
  --header-cyan: #29b6f6;
  --text-gray: #666;
  --border-color: #d1d9e0;
  --bg-light: #f8f8fa;
}

/* congigurar como grid */
.pricelist-page {
  display: grid;
  min-height: 100vh;
  max-width: 100vw;
  grid-template-columns: 1fr;
  grid-template-areas:
    "header"
    "main"
    "footer";
}
/* se define una especie de variable */
/* HEADER */
.pl-header {
  grid-area: header;
  background: var(--header-cyan);
  height: 56px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 5vw;
}
.pl-hamburger-mobile {
  width: 42px;
  height: 42px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
  background: transparent;
  border: none;
}
.pl-hamburger-mobile span {
  display: block;
  height: 4px;
  width: 90%;
  background-color: var(--bg-light);
}
.pl-header__group-left {
  display: none;
}
.pl-header__lang {
  font-weight: bold;
  display: flex;
  flex-direction: row;
  align-items: center;
  background: transparent;
  border: none;
  gap: 10px;
  padding: 5px;
  color: var(--bg-light);
}
.pl-header__lang img {
  width: 30px;
}
.pl-search-wrap__icon svg {
  width: 40px;
  height: 40px;
}

/* SIDEBAR */
.pl-sidebar {
  grid-area: sidebar;
  display: none;
  background: blue;
}
/* CONTENIDO */
.pl-content {
  grid-area: main;
  background: yellow;
}

/* OCULTAR COLUMNAS  */
.col-article,
.con-inprice {
  display: none;
}
/* FOOTER */
.pl-footer {
  grid-area: footer;
  background: green;
}

@media (min-width: 480px) {
}
@media (min-width: 768px) {
}
@media (min-width: 1280px) {
  /* congigurar como grid */
  .pricelist-page {
    display: grid;
    min-height: 100vh;
    grid-template-columns: 250px 1fr;
    grid-template-areas:
      "header header"
      "sidebar main"
      "footer footer";
  }
  /* se define una especie de variable */
  .pl-header {
    grid-area: header;
    background: red;
  }
  .pl-sidebar {
    grid-area: sidebar;
    background: blue;
  }
  .pl-content {
    grid-area: main;
    background: yellow;
  }

  .pl-footer {
    grid-area: footer;
    background: green;
  }
}
