:root {
  --primary-blue: #1583ea;
  --header-cyan: #29b6f6;
  --text-gray: #666;
  --border-color: #d1d9e0;
  --bg-light: #fff;
  --border-gray: #eeeeee;
}
body {
  margin: 0;
  overflow-x: hidden;
}
/* congigurar como grid */
.pricelist-page {
  display: grid;
  height: 100dvh;
  width: 100%;
  overflow: hidden;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    "header"
    "main";
}
/* se define una especie de variable */
/* HEADER */
.pl-header {
  grid-area: header;
  background: var(--header-cyan);
  height: 56px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}
.pl-hamburger-mobile {
  width: 42px;
  height: 42px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
  background: transparent;
  border: none;
}
.pl-hamburger-mobile span {
  display: block;
  height: 4px;
  width: 90%;
  background-color: var(--bg-light);
}
.pl-header__group-left {
  display: none;
}
.pl-header__lang {
  font-weight: bold;
  display: flex;
  flex-direction: row;
  align-items: center;
  background: transparent;
  border: none;
  gap: 10px;
  padding: 5px;
  color: var(--bg-light);
}
.pl-header__lang img {
  width: 30px;
}

/* SIDEBAR */
.pl-sidebar {
  grid-area: sidebar;
  display: none;
  background: blue;
}
/* CONTENIDO */
.pl-content {
  display: flex;
  flex-direction: column;
  grid-area: main;
  background: var(--bg-light);
  min-height: 0;
}
/* contenedor de toda la toolbar hasta la tabla */
.pl-toolbar {
  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
  align-items: center;
  padding: 20px;
  gap: 10px;
}
/* 2 contenedores de busqueda */
.pl-search-group {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  gap: 10px;
}
/* contededor de las barras de busqueda */
.pl-search-wrap {
  position: relative;
  width: 100%;
}
/* cuadro de busquea */
.pl-search-wrap input {
  width: 100%;
  box-sizing: border-box;
  border-radius: 50px;
  border: solid 1px var(--border-gray);
  min-height: 2rem;
  padding: 0 10px;
}
/* icono de lupa */
.pl-search-wrap__icon {
  position: absolute;
  right: 12px;
  left: auto;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  pointer-events: none;
}
/* estilo del icono de lupa */
.pl-search-wrap__icon img {
  width: 20px;
  height: 20px;
}
/* boton de mas, imprimir, modo avanzado, contenedor principal */
.pl-action-btns {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
/* texto de los botones de accion, desactivado en mobile */
.pl-action-btns button p {
  display: none;
}
/* boton individual */
.pl-btn {
  width: 6rem;
  border-radius: 10rem;
  min-height: 3rem;
  border: none;
  background: var(--bg-light);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}
/* svg del icono del boton */
.pl-btn img {
  width: 1.5rem;
  height: auto;
}
/* TABLA  */
.td-arrow {
  opacity: 0;
  pointer-events: none;
  width: 20px;
}

.pl-table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}

.row-focused .td-arrow {
  opacity: 1;
}
.pl-table-wrap {
  flex: 1 1 auto;
  overflow-y: auto;
  overflow-x: hidden;
  min-height: 0;
}
.pl-table-wrap th {
  text-align: start;
}

td input {
  border: 1px solid var(--header-cyan);
  min-height: 2rem;
  border-radius: 20rem;
  padding: 0 1rem;
  width: 100%;
  box-sizing: border-box;
}

.pl-table td:last-child,
.pl-table th:last-child {
  width: 36px; /* ← ancho fijo para la columna de "..." */
}

.td-product {
  width: 70%;
}
.td-price {
  width: 30%;
}
.btn-dots {
  background: var(--bg-light);
  min-height: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: none;
  font-size: 1rem;
  color: var(--header-cyan);
  font-weight: 600;
}

/* OCULTAR COLUMNAS  */
.col-article,
.col-inprice,
.col-unit,
.col-instock,
.col-desc {
  display: none;
}
/* FOOTER */
.pl-footer {
  grid-area: footer;
  background: green;
}

@media (min-width: 480px) {
}
@media (min-width: 768px) {
}
@media (min-width: 1280px) {
  /* congigurar como grid */
  .pricelist-page {
    display: grid;
    min-height: 100vh;
    grid-template-columns: 250px 1fr;
    grid-template-areas:
      "header header"
      "sidebar main"
      "footer footer";
  }
  /* se define una especie de variable */
  .pl-header {
    grid-area: header;
    background: red;
  }
  .pl-sidebar {
    grid-area: sidebar;
    background: blue;
  }
  .pl-content {
    grid-area: main;
    background: yellow;
  }
}
